body {
	background-color: $white;
	font-family: $base-font-family;
	font-size: rem(16);
	@include mq() {
		font-size: rem(14);
	}
}

main {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: rem(150);
	@include mq() {
		margin-top: rem(80);
	}
}

