.c-button-more{
	text-align: center;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

.c-button-more a{
	font-family: $en-font-family;
	font-weight: bold;
	font-size: rem(24);
	@include mq(sm) {
		font-size: rem(20);
	}
}

.c-button-more img{
	width: rem(18);
	height: auto;
	@include mq(sm) {
		width: rem(14);
	}
}

.c-button-news {
	width: 100%;
	text-align: center;
	a {
		font-size: rem(18);
		width: 300px;
		border: rem(1) solid $black;
		padding: rem(20);
		display: inline-block;
		font-family: $en-font-family;
		font-weight: bold;
		&:hover {
			border-color: $light-gray;
			background: $light-gray;
			transition: .5s;
		}
	}
}

.c-button-heart {
	// position: relative;
	display: flex;
	align-items: center;
}

.on ~ .good_counter {
	color: #ea3f60;
}

.on ~ .good_text {
	color: #ea3f60;
}

.c-button-heart__icon {
	cursor: pointer;
	// position: absolute;
	// left: -48px;
	background: url("../assets/img/web_heart_animation.png");
	background-position: left;
	background-size: 2900%;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

@keyframes heartBlast {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.c-button-heart__animation {
	display: inline-block;
	background-position: right;
	-webkit-animation-name: heartBlast;
	animation-name: heartBlast;
	-webkit-animation-duration: .8s;
	animation-duration: .8s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-timing-function: steps(28);
	animation-timing-function: steps(28);
}