$breakpoints: (
  sm: 576,
  md: 768,
  lg: 1024,
  xl: 1280,
);

$mediaquerys: (
  sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen snd (max-width: #{map-get($breakpoints,'xl')}px)",
);