// 汎用色
$black: #000;
$white: #fff;

// テーマカラー
$dark-gray: #b9b9b9;
$light-gray: #dddddd;
// $primary-main: ;
// $primary-lighter: ;
// $primary-darker: ;
// $secondry-main: ;
// $secondary-lighter: ;
// $secondary-darker: ;

// その他
$bg-main: #fafafa;
// $text-black:;