// フォントファミリー
$base-font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
$en-font-family: zenon, sans-serif;
$en-font-family-text: Garamond、Baskerville、Baskerville Old Face、Hoefler Text、Times New Roman、serif;

// フォントウェイト
$thin: 100;
$extralight: 200;
$regular: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;